.runs {
  margin-top: 20px;
  background-color: black;
}

.erg {
  margin-top: 10px;
  color: white;
}
.manhatten {
  width: 100%;
  height: 400px;
  background-color: black;
}
hr {
  color: #555555;
}