.col-sm-10 {
    max-width: 100%;
}
.col-md-10 {
    max-width: 100%;
}
li.intext {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;   
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.01;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.tut-p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;   
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.tut-caption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin-bottom: 15px;
}
h2 {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, .84)!important;
    fill: rgba(0, 0, 0, .84)!important;
    margin-top: 5px;
}
h4 {
    margin-top: 20px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.formula {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p.other-stats-item {
    margin-bottom: 3px;
}
div.other-stats-section {
    margin-bottom: 20px;
}
#histogram rect {
fill: steelblue;
}
#histogram rect:hover {
fill: #F56C4E;
}
#histogram tick {
color: black;
       stroke-width: 1px;
}
#histogram .domain {
opacity: 0;
}
#histogram text.white {
fill: white;
      text-anchor: middle;
}
#histogram text {
fill: black;
font: 10px sans-serif;
      text-anchor: middle;
}
#chart, #header, #footer {
  position: absolute;
    top: 0px;
}
#header, #footer {
 z-index: 1;
 display: block;
 font-size: 36px;
 font-weight: 300;
 text-shadow: 0 1px 0 #fff;
}
#header.inverted, #footer.inverted {
 color: #fff;
 text-shadow: 0 1px 4px #000;
}
#header {
 top: 80px;
 left: 140px;
 width: 900px;
}
#footer {
    margin-top: 20px;
    margin-left: 20px;
    text-align: right;
}
   .highlight { background-color: yellow }
    dt {
        color: #337ab7;
        font-weight: 400;
        font-size: 1.2em;
    }
    dd { margin-bottom: 10px; }
    #search-summary {
        color: gray;
        font-size: 10pt;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .search-results {
        padding-bottom: 20px;
    }
    .item-name {
        font-weight: 600;
    }
    #entries {
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-left: 20px;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .entry {
        color: black;
    }
    #cards {
	margin-top: 40px;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .variables {
	overflow-y: auto;
    }
    img {
	border-style: none;
    }
    .card {
	width: 300px;
	height: 400px;
	border: 1px solid gray;
	border-radius: 2px 2px 0 0;
	display: inline-flex;
	margin-right: 10px;
	margin-bottom: 10px;
	color: gray;
	-webkit-font-smoothing: antialiased;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    .card-active {
	background-color: white;
        border: 2px solid gray;
	color: black;
    }
    .card-title {
	padding-left: 5px;
	font-size: 24pt;
	border-bottom: 1px solid lightgray;
    }
    .btn-pm {
	display: inline-flex;
	background-color: lightblue;
	border: 1px solid lightgray;
        line-height: 0.5em;
        height: 24px;
        width: 31px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-pm:hover {
	background-color: salmon;
    }
body {
    //padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.editor-wrapper {
    position: relative;
    height:350px;
    margin-top:10px;
}
.row-fluid{
    
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    
}
button.btn.active {
    background-color: lightgreen;
}
.list-unstyled {
    padding-left: 0;
    margin-left:0;
    list-style: none;
}
label {
    line-height: 1.1em;
}
.item-name:before {
    content: "";
}
.add-set {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid lightblue;
    background-color: white;
    color: black;
}
.add-set:hover {
    background-color: '#e9967a';
    color: white;
    box-shadow: 0px 0px 5px #444;
}
.var-entry {
    line-height: 1.58;
    height: 35px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    border-bottom: 1px solid #CCC;
    white-space: nowrap;
}
.var-entry:hover {
    background-color: orange;
    color: black;
}
.pull-right {
    position: absolute;
    right: 5px;
    top: 0px;
    height: 30px;
}
.remove-variable {
    padding-top: 0px;
    margin-top: 1px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    background-opacity: 1;
    color: gray;
    margin-bottom: 2px;
}
.remove-variable:hover {
    border: 1px solid lightgray;
    color: black;
}
.owner {
    position: absolute;
    top: 10px;
    right: 10px;
}
#contextMenu {
    position: absolute;
    display:none;
}