.col-sm-10 {
    max-width: 100%;
}
.col-md-10 {
    max-width: 100%;
}
li.intext {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;   
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.01;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.tut-p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;   
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.48;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    word-wrap: break-word;
    column-width: 400px;
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    height: 150px;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-rule: 1px solid #CCC;
    -webkit-column-rule: 1px solid #CCC;
    -moz-column-rule: 1px solid #CCC;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
}
.tut-caption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin-bottom: 15px;
}
h2 {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: rgba(0, 0, 0, .84)!important;
    fill: rgba(0, 0, 0, .84)!important;
    margin-top: 5px;
}
h4 {
    margin-top: 20px;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
.formula {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
p.other-stats-item {
    margin-bottom: 3px;
}
div.other-stats-section {
    margin-bottom: 20px;
}
#histogram rect {
fill: steelblue;
}
#histogram rect:hover {
fill: #F56C4E;
}
#histogram tick {
color: black;
       stroke-width: 1px;
}
#histogram .domain {
opacity: 0;
}
#histogram text.white {
fill: white;
      text-anchor: middle;
}
#histogram text {
fill: black;
font: 10px sans-serif;
      text-anchor: middle;
}
#chart, #header, #footer {
  position: absolute;
    top: 0px;
}
#header, #footer {
 z-index: 1;
 display: block;
 font-size: 36px;
 font-weight: 300;
 text-shadow: 0 1px 0 #fff;
}
#header.inverted, #footer.inverted {
 color: #fff;
 text-shadow: 0 1px 4px #000;
}
#header {
 top: 80px;
 left: 140px;
 width: 900px;
}
#footer {
    margin-top: 20px;
    margin-left: 20px;
    text-align: right;
}
   .highlight { background-color: yellow }
    dt {
        color: #337ab7;
        font-weight: 400;
        font-size: 1.2em;
    }
    dd { margin-bottom: 10px; }
    #search-summary {
        color: gray;
        font-size: 10pt;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .search-results {
        padding-bottom: 20px;
    }
    .item-name {
        font-weight: 600;
    }
    #entries {
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-left: 20px;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .entry {
        color: black;
    }

    .CodeMirror {
        border: 0px solid gray;
        border-bottom: 1px solid #CCC;
        border-radius: 0px;
        --x-height-multiplier: 0.375;
        --baseline-multiplier: 0.17;   
        font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.28;
        letter-spacing: -.003em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-font-feature-settings: "liga" on;
    }

    pre code {
        font-size: 70%;
        line-height: 0.8;

    }
    code {
        font-size: 80%;
        line-height: 0.8;
    }
    .editor-preview pre {
        line-height: 1;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .CodeMirror pre {
        line-height: 1;
    }
    .CodeMirror-scroll {
        min-height: 50px;
    }

    .recipe-block {
        border-radius: 2px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        padding-top: 0px;
    }
    .save-button {
        margin-bottom: 5px;
    }

    .header {
        margin-top: 0px;
        padding-top: 20px;
        background-color: #e7f5fe;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .console {
        overflow: auto;
        height : 250px
    }
